@import '../../scss/config';

.input {
  width: 90%;
  height: 35px;
  border: 1px solid $primary;
  margin: 10px;
  border-radius: $r-medium;
  padding: 5px 10px;
  font-size: $t-x-s;
  background-color: $light;

  &--month::before {
    content: attr(placeholder);
    position: absolute;
    color: #999999;
  }

  &--month {
    color: $light;
  }

  &--month:focus {
    color: $dark;
  }
}
