@import '../../scss/config';

.booking-main {
  @include absolute-center;
}

.booking {
  width: 95vw;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__title {
    margin: 0 0 25px;
    color: $dark;
  }

  &__head {
    background-color: $light;
    box-shadow: $sh-small;
    border-radius: $r-big;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  &__icon-div {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 25px;
    color: #101357;
    font-size: 20px;
  }

  &__text {
    color: $dark;
    margin: 0;
    color: $primary;

    &--big {
      font-family: $open-sans;
      font-size: $t-medium;
      font-weight: 800;
    }

    &--medium {
      font-size: $t-small;
      margin-left: 15px;
    }

    &--small {
      font-size: $t-small;
      margin: 15px;
    }

    &--error {
      margin-top: 15px;
      color: red;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__list {
    list-style-type: none;
    color: $dark;
    margin: 5px 0px 10px 20px;
  }

  &__body {
    width: 70%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__date-picker {
    width: 50%;
  }

  &__form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-head {
    background-color: $light;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: $r-medium;
  }

  &__textarea {
    width: 90%;
    border: 1px solid $primary;
    margin: 10px;
    border-radius: $r-medium;
    padding: 5px 10px;
    font-size: $t-x-s;
    background-color: $light;
  }

  &__btn-div {
    height: 45px;
  }
}

.calender {
  width: 100%;

  &__selected {
    background-color: $primary !important;
  }
}

@media screen and (max-width: 1024px) {
  .booking {
    width: 100vw;
    padding-bottom: 320px;
  }
}
@media screen and (max-width: 768px) {
  .booking {
    padding: 0 20px;

    &__head {
      width: 100%;
    }

    &__body {
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .booking {
    &__head {
      height: 200px;
      flex-direction: column;
      align-items: flex-start;
    }

    &__body {
      flex-direction: column;
      align-items: center;
    }

    &__date-picker {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }

    &__form {
      width: 100%;
    }
  }
}
