@import '../../scss/config';

.admin {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &__menu-icon {
    display: none;
  }

  &__aside {
    width: 18%;
    background-color: $light;
    border-radius: $r-medium;
    border-top: 4px solid $light;
    border-left: 4px solid $light;
  }

  &__nav-items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid grey;

    &--active {
      background-color: $lightRed;
    }
  }

  &__icon {
    margin-right: 0.8em;
    font-size: $t-medium;
    color: $primary;
  }

  &__nav-text {
    width: 5em;
    color: $dark;
    font-size: $t-small;
  }

  &__notification {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-family: $open-sans;
    letter-spacing: 5px;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .admin {
    width: 98vw;
    padding-bottom: 500px;
  }
}

@media screen and (max-width: 768px) {
  .admin {
    padding-bottom: 150px;

    &__aside {
      width: 22%;
    }

    &__nav-items {
      padding: 20px 5px;
    }

    &__main {
      width: 75%;
    }
  }
}
@media screen and (max-width: 600px) {
  .admin {
    margin-top: 30px;
    padding-bottom: 0;

    &__menu-icon {
      display: block;
      background-color: rgba(255, 255, 255, 0.61);
      padding: 5px;
      font-size: $t-big;
      border-radius: 2px;
      box-shadow: 0px 0px 2px grey;
      position: absolute;
      top: 105px;
      cursor: pointer;
      z-index: 999;
    }
    &__aside {
      display: none;
    }
    &__main {
      width: 98%;
    }

    &__aside-ss {
      width: 70%;
      background-color: $light;
      border-radius: $r-medium;
      border-top: 4px solid $light;
      border-left: 4px solid $light;
      box-shadow: 0px 0px 5px grey;
      position: absolute;
      z-index: 22;
    }
  }
}
// @media screen and (max-width: 340px) {
// }
