@import '../../scss/config';

.venue-edit {
  width: 95vw;
  margin: 0px auto;
  @include absolute-center;
  flex-direction: column;

  &__heading {
    margin: 0 0 20px 0;
    text-align: center;
  }

  &__form {
    width: 40%;
    @include absolute-center;
    flex-direction: column;
  }

  &__label {
    width: 100%;
    margin: 20px 0 0;
    font-family: $roboto;
    font-weight: bolder;
    color: $dark;
  }

  &__select {
    width: 100%;
    margin: 10px;
    border-radius: $r-medium;
  }
}

@media screen and (max-width: 1024px) {
  .venue-edit {
    &__form {
      width: 55%;
    }
  }
}

@media screen and (max-width: 768px) {
  .venue-edit {
    &__form {
      width: 65%;
    }
  }
}
@media screen and (max-width: 600px) {
  .venue-edit {
    &__form {
      width: 98%;
    }

    &__heading {
      font-size: $t-medium;
    }
  }
}
