@import '../../scss/config';

.new-venue {
  width: 100%;
  margin: 0px auto;
  @include absolute-center;
  flex-direction: column;

  &__heading {
    margin: 0 0 20px 0;
  }

  &__form {
    width: 50%;
    @include absolute-center;
    flex-direction: column;
  }

  &__label {
    width: 100%;
    margin: 10px 0 0 0;
    font-family: $roboto;
    font-size: $t-small;
    color: $dark;
  }

  &__select {
    width: 100%;
    margin: 10px;
    border-radius: $r-medium;
  }
}
