@import '../../scss/config';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__head {
    font-family: $rubik;
    font-size: $t-xl;
    font-weight: bold;
    color: $primary;
  }
}
