@import '../../scss/config';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__head {
    font-family: $open-sans;
    font-size: $t-big;
    color: $light;
    position: fixed;
    text-shadow: 0px 1px 3px rgba(51, 51, 51, 0.685);
    top: 20vh;
    letter-spacing: 0.5vw;
    z-index: 2;
    opacity: 0;
    animation-name: home-heading;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &__btn {
    position: fixed;
    width: 15vw;
    height: 10vh;
    top: 40vh;
    opacity: 0;
    animation-name: btn;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes btn {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes home-heading {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
