@import '../../scss/config';

.a-support {
  width: 100%;
  display: flex;
  justify-content: center;

  &__rooms {
    width: 200px;
    min-height: 450px;
    background-color: $light;
    margin-right: 30px;
  }

  &__chat {
    width: 650px;
    min-height: 500px;
  }

  &__conversation {
    background-color: rgb(95, 67, 67);
    padding: 15px;
    border-radius: $r-big;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    overflow-y: auto;
  }

  &__room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(179, 179, 179);
    background-color: grey;
    color: $light;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &--inactive {
      background-color: $light;
      color: $dark;
    }
  }

  &__room-text {
    width: 140px;
    text-align: start;
  }

  &__room-icon {
    color: brown;
    font-size: $t-small;
    cursor: pointer;
    margin-left: 5px;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__input-div {
    width: 90%;
  }

  &__send {
    color: $light;
    font-size: $t-big;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      color: greenyellow;
    }
  }

  &__fallback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__fallback-text {
    color: $light;
    font-size: $t-medium;
    margin-bottom: 20px;
    text-align: center;
  }

  &__fallback-image {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  .a-support {
    flex-direction: column;
    align-items: center;

    &__rooms {
      width: 90%;
      min-height: 0;
      margin-bottom: 20px;
      margin-right: 0;
      display: flex;
      overflow-x: auto;
      border-radius: 4px;
    }

    &__room {
      width: 100px;
      justify-content: center;
      border-right: 1px solid rgb(187, 187, 187);
    }

    &__room-icon {
      font-size: $t-big;
    }
  }
}
@media screen and (max-width: 768px) {
  .a-support {
    &__chat {
      width: 90%;
    }
  }
}

@media screen and (max-width: 600px) {
  .a-support {
    &__rooms {
      margin-top: 25px;
    }
  }
}
