@import '../../scss/config';

.textarea {
  width: 90%;
  border: 1px solid $primary;
  margin: 10px;
  border-radius: $r-medium;
  padding: 5px 10px;
  font-size: $t-x-s;
  background-color: $light;
  color: $dark;
}

@media screen and (max-width: 768px) {
  .textarea {
    font-size: $t-big;
  }
}

@media screen and (max-width: 600px) {
  .textarea {
    font-size: $t-xl;
  }
}
