@import '../../scss/config';

.textarea {
  width: 100%;
  border: none;
  margin: 10px 0px;
  border-radius: $r-medium;
  padding: 5px 10px;
  font-size: $t-small;
  background-color: $light;
  color: $dark;
  outline: none;
  box-sizing: border-box;
}

.label {
  width: 100%;
  text-align: start;
  margin-top: 10px;
  font-family: $roboto;
  font-size: $t-small;
  color: $dark;
}
