@import '../../scss/config';

.tile {
  width: 350px;
  height: 440px;
  box-shadow: $sh-small;
  border-radius: $r-medium;
  margin: 0px 30px 50px 0px;
  background-color: $light;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  &__image-div {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
    animation-name: image-anim;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
  }

  &__top-box {
    position: absolute;
    bottom: 265px;
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__arrows {
    position: absolute;
    bottom: 140px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    padding: 5px;
    border-radius: $r-small;
    background-color: rgba(56, 56, 56, 0.774);
    color: white;
    margin: 0px;
  }

  &__text {
    font-family: $montserrat;
    margin: 5px 10px;

    &--small {
      font-family: $open-sans;
      font-weight: bold;
      font-size: $t-x-s;
      color: $dark;
    }

    &--big {
      font-size: $t-small;
      font-weight: 600;
      color: $primary;
      padding-bottom: 10px;
      border-bottom: 2px solid rgb(172, 112, 112);
    }
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 20px;

    &--address {
      justify-content: start;
    }
  }

  &__info {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__icon {
    color: white;

    &--link {
      -webkit-filter: drop-shadow(0px 0px 2px rgba(44, 44, 44, 0.753));
    }
    &--arrow {
      -webkit-filter: drop-shadow(0px 0px 2px rgba(44, 44, 44, 0.753));
    }
  }

  &__circle-div {
    position: absolute;
    width: 95%;
    top: 280px;
    display: flex;
    justify-content: flex-end;
  }

  &__circle {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: 0px 0px 3px rgba(70, 70, 70, 0.719);

    &--selected {
      background-color: $red;
    }
  }
}

@keyframes image-anim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
