@import '../../scss/config';

.tile {
  width: 350px;
  height: 420px;
  box-shadow: $sh-small;
  border-radius: $r-medium;
  margin: 0px 30px 30px 0px;

  &__image-div {
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }

  &__top-box {
    position: absolute;
    bottom: 265px;
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__arrows {
    position: absolute;
    bottom: 140px;
    width: 95%;
    display: flex;
    justify-content: space-between;
  }

  &__price {
    padding: 5px;
    border-radius: $r-small;
    background-color: rgba(56, 56, 56, 0.774);
    color: white;
    margin: 0px;
  }

  &__text {
    font-family: $montserrat;
    margin: 5px 10px;

    &--small {
      font-size: $t-x-s;
      color: $dark;
    }

    &--big {
      font-size: $t-small;
      font-weight: 600;
      color: $primary;
      padding-bottom: 10px;
      border-bottom: 1px solid grey;
    }
  }

  &__info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;

    &--address {
      justify-content: start;
    }
  }

  &__info {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__icon {
    color: white;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(44, 44, 44, 0.753));
  }
}
