.room {
  max-width: 100vw;
  margin-top: 250px;

  &--scroll {
    opacity: 0.6;
  }
}

.girl-head {
  animation-name: girl-head;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.girl-body {
  animation-name: girl-body;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.check-1 {
  opacity: 0;
  animation-name: check-1;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
.check-2 {
  opacity: 0;
  animation-name: check-2;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
.check-3 {
  opacity: 0;
  animation-name: check-3;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.man-left {
  animation-name: man-left;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.man-right {
  animation-name: man-right;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.r-m-head {
  animation-name: r-m-h;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.l-m-body {
  animation-name: l-m-b;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes check-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes check-2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes check-3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes l-m-b {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(8deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes r-m-h {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0.1deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes girl-head {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(4deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes girl-body {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(6deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes man-left {
  0% {
    transform: scaleX(1);
  }

  20% {
    transform: scaleX(1.05);
  }
  35% {
    transform: scaleX(1.1);
  }
  60% {
    transform: scaleX(1.2);
  }
  75% {
    transform: scaleX(1.1);
  }
  90% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes man-right {
  0% {
    transform: scaleX(1);
  }

  20% {
    transform: scaleX(0.9);
  }
  35% {
    transform: scaleX(0.8);
  }
  60% {
    transform: scaleX(0.7);
  }
  75% {
    transform: scaleX(0.8);
  }
  90% {
    transform: scaleX(0.9);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 600px) {
  .room {
    margin-top: 50px;
  }
}
