@import '../../scss/config';

.filter {
  display: flex;
  align-items: center;
  //   background-color: azure;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 2px solid #7e4f41;

  &__title {
    font-weight: bold;

    &--big {
      margin: 0px 50px 0px;
      font-family: $open-sans;
      font-size: $t-medium;
    }
    &--small {
      font-family: $roboto;
      font-size: $t-small;
      font-weight: 800;
      margin-bottom: 10px;
    }
  }

  &__filter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
  }

  &__item {
    margin: 0px 15px;
    display: flex;
  }

  &__radio-group {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  &__label {
    margin-left: 5px;
  }

  &__radio {
  }
}
