@import '../../scss/config';

.admin-bookings {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__calender-div {
    width: 50%;
    height: 100%;
  }

  &__info {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__info-title {
    margin: 0px 0px 25px 0px;
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__info-text {
    width: 290px;
    color: $dark;
    font-size: $t-small;
    overflow-y: auto;
    margin: 0px 10px;

    &--msg {
      font-size: $t-x-s;
      line-height: 1.5;
    }

    &--instruction {
      margin: 0 20px;
      width: 40%;
      align-self: flex-start;
    }
  }

  &__select {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: $r-small;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 20px;
    font-size: $t-small;
  }

  &__calender {
    width: 100%;
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  .admin-bookings {
    flex-direction: column;

    &__calender-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__info {
      width: 90%;
    }
  }
}
