@import '../../scss/config';

.admin-log {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &__heading {
    font-family: $open-sans;
    color: $dark;
    letter-spacing: 5px;
  }
  &__error {
    margin: 0;
    color: red;
    &--hide {
      opacity: 0;
    }
  }

  &__form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: form 1s ease-in-out, forwards;
  }

  &__text {
    font-size: $t-x-s;
    color: $dark;
  }

  &__link {
    font-size: $t-x-s;
    color: $link;
    font-weight: bold;
    cursor: pointer;
  }
}

.close {
  width: 100%;
  text-align: end;
  font-family: 'Roboto', sans-serif;
  color: $dark;
  font-weight: bolder;
  cursor: pointer;
}

.content {
  width: 30vw;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: $light;
    font-size: 1.5em;
  }

  &__text {
    font-size: 1em;
    text-align: center;
    color: $dark;
  }
}

@keyframes form {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
