@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

//Colors

$primary: #195e4b;
$secondary: #2cad7e;
$red: #db3c0b;
$lightGreen: #caebe2;
$lightRed: #fda084;
$dark: #2a2a2a;
$light: #f2f2f2;
$link: rgb(27, 53, 167);

// $radius
$r-small: 4px;
$r-medium: 6px;
$r-big: 12px;

//texts size

$t-x-s: 1vw;
$t-small: 1.5vw;
$t-medium: 2vw;
$t-big: 3vw;
$t-xl: 4vw;

//Fonts

$montserrat: 'Montserrat', sans-serif;
$aleo: 'Aleo', serif;
$rubik: 'Rubik', sans-serif;
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;

//Shadow

$sh-big: 0px 2px 8px rgba(0, 0, 0, 0.822);
$sh-small: 0px 1px 3px rgba(0, 0, 0, 0.671);
$sh-text: 0px 2px 3px rgb(85, 84, 84);

//mixins

@mixin absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
