//Colors

$primary: #195e4b;
$secondary: #30da9d;
$red: #f33501;
$lightGreen: #caebe2;
$lightRed: #fda084;
$dark: #2a2a2a;
$light: #f2f2f2;

// $radius
$r-small: 4px;
$r-medium: 6px;
$r-big: 12px;

//texts size

$t-small: 16px;
$t-medium: 20px;
$t-big: 28px;
$t-xl: 35px;
