@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

//Colors

$primary: #195e4b;
$secondary: #30da9d;
$red: #f33501;
$lightGreen: #caebe2;
$lightRed: #fda084;
$dark: #2a2a2a;
$light: #f2f2f2;

// $radius
$r-small: 4px;
$r-medium: 6px;
$r-big: 12px;

//texts size

$t-small: 1vw;
$t-medium: 2vw;
$t-big: 3vw;
$t-xl: 4vw;

//Fonts

$montserrat: 'Montserrat', sans-serif;
$aleo: 'Aleo', serif;
$rubik: 'Rubik', sans-serif;
$roboto: 'Roboto', sans-serif;
